.heading .subtitle {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

input.sm-cfg-edit-int,
input.sm-cfg-share-int {
    flex: 0 0 auto;
    padding: 0.1em 0.5em;
    font-size: 0.85em;
    cursor: pointer;
    width: fit-content;
}

.sm-cfg-actions {
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.sm-cfg-actions button.button {
    width: 100%;
}